ul li {
display: inline-block;  
border: 5px dotted red;
width: 150px;
padding: 15px 15px 15px 20px;
margin-top: 0;
margin-left: 10px;
}

h1 { color:black;}
nav {justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}