  h1{ color: #cc0000;}
  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    background: rgb(253, 76, 76);
    width: 150px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;
}
/*media queries*/ 
@media screen and (max-width:640px)
     header {border-top:3px;}
     nav {border-top: 1px solid;}
     main {float: right; height: 500px; width: 84%;}
     img {width: 50px; height: 50px;}
     footer {border-top: 1px solid black; clear: both;}

}